<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <material name="blue">
    <color rgba="0.2 0.2 1 1"/>
  </material>

  <material name="gray">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>

  <material name="purple_dark">
    <color rgba="0.2 0 0.4 1"/>
  </material>

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

</robot>
